:root {
  --mint: #4a556d;
  --celadon: #58a4b0;
  --etonBlue: #86baa1;
  --beige: #d5bf86;
  --yellow: #ffcf56;
  --white: #ebe8e4;
}

html,
body {
  max-width: 100%;
  font-family: "Oswald", sans-serif !important;
  /* background: var(--beige) !important; */
  color: var(--mint) !important;
}

.text-title {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.3rem;
}

.text-blue {
  color: var(--etonBlue);
  /* color: var(--charcol); */
}

.text-bright {
  color: var(--etonBlue);
}
