:root {
  --mint: #3ab795;
  --celadon: #a0e8af;
  --etonBlue: #86baa1;
  --beige: #edead0;
  --yellow: #ffcf56;
}

body {
  font-family: "Oswald", sans-serif !important;
  /* background: var(--beige) !important; */
  color: var(--mint) !important;
}

.text-title {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.3rem;
  /* text-transform: uppercase; */
}

.text-blue {
  color: var(--celadon);
}

.text-bright {
  color: var(--etonBlue);
}
