:root {
  --mint: #8db1ab;
  --celadon: #a0e8af;
  --etonBlue: #86baa1;
  --beige: #d5bf86;
  --yellow: #ffcf56;
  --white: #ebe8e4;
}

body {
  font-family: "Oswald", sans-serif !important;
  /* background: var(--beige) !important; */
  color: var(--mint) !important;
}

.text-title {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.3rem;
  /* text-transform: uppercase; */
}

.text-blue {
  color: var(--celadon);
}

.text-bright {
  color: var(--etonBlue);
}
